* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}
.iti {
  width: 100% !important;
}
.header_top {
  background-image: url(../img/header-background.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.container_main {
  width: 100%;
  max-width: 1270px;
  padding: 0 25px;
}
.header_title {
  color: #fff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  font-size: 36px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header_title {
    font-size: 26px;
    padding: 15px 0;
  }
}
@media (max-width: 560px) {
  .header_title {
    font-size: 19px;
    padding: 20px 0;
  }
}
@media (max-width: 389px) {
  .header_title {
    font-size: 18px;
    padding: 20px 0;
  }
}
.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.nav li a {
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  color: #181818;
}
.nav li a:hover {
  transition: all 0.3s ease-in-out;
  color: #51afdd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav li a:focus {
  transition: all 0.3s ease-in-out;
  color: #51afdd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line {
  width: 100%;
  background: #fff;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-image: linear-gradient(to right, #1bb147, #018ed5);
  border-image-slice: 1;
}
.checkbox {
  display: none;
}
.hamburger-lines {
  display: none;
}

/* burger */
@media (max-width: 811px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #fff;
    z-index: 999;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 125px;
    font-size: 18px;
    height: 100%;
    height: 60vh;
    width: 100%;
    transform: translate(-200%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;

    transition: transform 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
/* form */
.form_box {
  width: 100%;
  max-width: 510px;
  padding: 5px;
}
.form_box2 {
  width: 100%;
  max-width: 510px;
  padding: 5px;
  margin: 0 auto;
}
.transparent {
  width: 100%;
  position: relative;
  max-width: 100%;
  padding: 55px 40px;
  margin: 0px auto 0;
  background-image: url(../img/form_form.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 540px) {
  .transparent {
    background-size: contain;
  }
}
.form_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #1bb147, #018ed5);
  border-image-slice: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.modal-form_input {
  width: 100%;
  margin-bottom: 24px;
  padding: 15px 15px;
  border: 1px solid #51afdd;
  transition: border-color 0.25s var(--time-function);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  outline: none;
}
@media (max-width: 767px) {
  .form_input {
    font-size: 18px !important;
  }
}
.form_tel {
  margin-bottom: 36px;
}
.modal-form_input::placeholder {
  color: #878787;
  opacity: 0.6;
}
.modal-form_input:focus {
  opacity: 0.7;
}

.form_submit {
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: #fa0606;
  padding: 15px 0;
  border: 0;
  margin-top: 24px !important;
  cursor: pointer;
}
.form_submit:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 0, 0, 0.467);
  color: #000;
}
@media (max-width: 480px) {
  .modal-form_input {
    padding: 10px 15px;
  }
}
@media (max-width: 445px) {
  .modal-form_input {
    padding: 10px;
    font-size: 20px;
  }
  .form_submit {
    font-size: 18px;
    padding: 10px 0;
  }
}
@media (max-width: 400px) {
  .form_title {
    font-size: 30px;
    max-width: 235px;
  }
  .transparent {
    padding: 35px;
  }
  .modal-form_input {
    padding: 5px 10px;
  }
  .form_submit {
    font-size: 20px;
    padding: 10px 0;
  }
}
@media (max-width: 375px) {
  .form_submit {
    font-size: 20px;
    padding: 10px 0;
  }
  .modal-form_input {
    padding: 10px 15px;
    font-size: 15px;
  }
  .form_submit {
    font-size: 18px;
    padding: 10px 0;
  }
  .form_tel {
    margin-bottom: 25px;
  }
  .form_title {
    font-size: 25px;
    max-width: 190px;
  }
}
@media (max-width: 350px) {
  .modal-form_input {
    padding: 8px 15px;
    font-size: 14px;
  }
  .form_title {
    margin-bottom: 15px;
  }
  .form_tel {
    margin-bottom: 20px;
  }
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sup_title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}
.sup_img {
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}
.sup_mig img {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}
.section-1 {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 60px;
}
.container_form {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 60px;
  padding: 0 10px;
}
video {
  width: 100%;
  max-width: 695px;
}
@media (max-width: 461px) {
  .s3_btn {
    font-size: 17px !important;
  }
}
@media (max-width: 1100px) {
  .s6-info {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1275px) {
  .sup_video {
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .container_form {
    flex-direction: column;
  }
  .sup_img {
    flex-direction: column;
    align-items: center;
  }
  .twoImg {
    order: 1;
  }
  .oneImg {
    order: 2;
  }
}
.section-1 {
  margin-top: 70px;
  margin-bottom: 80px;
}
.s2_title {
  background: linear-gradient(to right, #1bb147, #018ed5);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.section-2_text {
  width: 100%;
  color: #181818;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
  max-width: 780px;
  margin-bottom: 47px;
  padding-top: 36px;
}
.main .two__container {
  display: flex;
  align-items: center;
  position: relative;
  margin: -4px auto !important;
}
.s2_man_box {
  background-image: url(../img/section-2_bot.png);
  background-size: cover;
  padding: 15px 25px;
  width: 100%;
}

.s2_man_name {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.section-2_info {
  padding-top: 10px;
  align-items: flex-end;
  justify-content: end;
}
@media (max-width: 1100px) {
  .container_form {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.s2_man_info {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.section-2 {
  display: flex;
  order: 0;
}
@media (max-width: 1100px) {
  .section-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: none;
  }

  .section-2_text {
    text-align: center;
  }
  .section-3_info {
    text-align: center;
    margin: 0 auto;
  }
  .s3_top_info {
    max-width: 100%;
    margin: 0 auto;
  }
}

#box1 {
  order: 3;
}
#box2 {
  order: 1;
  margin-bottom: -4px;
}
.section-3 {
  width: 100%;
  background-image: url(../img/s3-hero.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 48px;
}
.section-3_info {
  width: 100%;
}
.s3_top_info {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.63px;
  margin-top: 36px;
  width: 100%;
  max-width: 778px;
  margin-bottom: 60px;
}
.s3_btn {
  color: #fff;
  background-color: #fa0606;
  font-size: 24px;
  padding: 15px 40px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.s3_btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 0, 0, 0.467);
  color: #000;
}
.s3_bot_text {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  font-size: 16px;
  width: 100%;
  max-width: 1392px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}
.s3_bot_box {
  text-align: center;
}
.s4_title {
  text-align: center;
}
.section-4 {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.img-container_slide {
  margin-bottom: 16px;
}
.slide_info {
  margin-top: 24px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}
.Opinie__item {
  width: 100%;
  max-width: 1280px;
}
/* slider */
.Opinie__slider {
  padding-top: 36px;
}
.Opinie__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.7);
}

.Opinie__slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #fd9222;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
.slide_name {
  color: #181818;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.slide_years {
  color: #000;
  text-align: center;
  font-size: 24px;

  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
}
.slide_info {
  color: #181818;
  text-align: center;

  font-size: 22px;

  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
}
.img-container_slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container_slide img {
  max-width: 100%;
  max-height: 100%;
}

/*  */
.swiper {
  width: 100%;
  max-width: 1200px;
  height: 600px;
}
.image-slider {
  padding: 30px 0 70px 0;
}
.image-wrapper {
  text-align: center;
}
img {
  max-width: 100%;
}

.image-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.553);
}
.image-slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #018ed5;
}
.profit_info {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.63px;
}
.profit_title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}
.profit_item {
  display: flex;
  margin-bottom: 30px;
}
.profit_image {
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
}

.accelerator_title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}
.accelerator_info {
  color: #000;
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.63px;
}
.accelerator {
  background-color: #fff;
  padding: 30px;
  border-radius: 7px;
  width: 100%;
  max-width: 580px;
}
.profit {
  width: 100%;
  max-width: 580px;
}
.section-6 {
  background-image: url(../img/s6-back.jpg);
  background-size: cover !important;
}
.s6-info {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 5rem 0px;
}
.footer-logo {
  margin-right: 65px;
}

.adress_info {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.contact-tel-link {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.footer_box {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid gray;
  padding: 10px;
}
.form_bottom {
  padding-top: 70px;
  margin: 0 auto;
}
.polytika {
  margin-left: 15px;
}
.footer {
  padding: 70px 30px 30px 30px;
}
.footer_info a {
  color: #018ed5;
}
.section-5 {
  background-color: #0f2470;
  padding-bottom: 70px;
}

.range-slider {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
}
.range_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.range_info {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.63px;
}
.range_input {
  margin-bottom: 20px;
}
.range_btn {
  margin-top: 20px;
  display: inline-block;
  font-family: Verdana;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  padding: 20px 50px;
  width: 100%;
  max-width: 320px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #0f2470;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}
.range_btn:hover {
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: transparent;
}
.range_titleblock {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: o auto;
  padding: 70px;
}
.range_container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.extra-controls {
  display: flex;
  flex-direction: column;
}
.js-input {
  background-color: transparent;
  outline: none;
  border: none;
}
.js-input_info {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.js-input {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.js-input-PLN {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.irs--round .irs-min,
.irs--round .irs-max {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: transparent;
  border-radius: 4px;
}
.irs--round .irs-bar {
  top: 36px;
  height: 3px;
  background-color: white;
}
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 5px 5px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
}
.irs--round .irs-single:before {
  display: none;
}

@media (max-width: 1100px) {
  .footer_box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .footer-logo {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .slide_info {
    font-size: 18px;
  }
}
